{% extends 'base.html.twig' %}

{% block body %}

    {% for movember in movembers %}

        <main>
            <div class="col-xs-12" id="membre">
                <div class="nom-membre">
                    <p>{{ movember.nom }} / {{ movember.ville }}</p>
                </div>
                <div>
                    <img src="img/tom-seleck.jpg" class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="row">
                    <button type="submit" style="border: 0; background: transparent">
                        <img src="img/share.svg" width="30" height="30" alt="submit" />
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Commentaires</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div id="map" style="text-align: center">
                <img src="img/google-map.png" class="rounded mx-auto d-block">
            </div>


        </main>

    {% endfor %}

{% endblock %}

